.login{
    height: 600px;
}
.hile img{
  height: 650px;
    
}
.nnc{
    margin-right: 36%;
}
.mmb{
    padding-top: 170px;
}
.yti{
    padding-top: 150px;
    border: 1px solid fuchsia;

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.file{
    color: fuchsia;
}
.ter{
    margin-left: 200px;
}
.bly{
    padding: 8px 40px;
 
    font-weight:bold;
}
.dr{
    color: le;
}
.gog{
    margin-left: 7px;
}